.content {
    .main-content {
        h2 {
            font-size: 20px;
            line-height: 24px;

            img {
                vertical-align: bottom;
                padding-bottom: 3px;
            }
        }

        p {
            img {
                display: inline-block;
                vertical-align: bottom;
            }
        }

        .card {
            padding: 0;
            margin: 0;
            opacity: 1;
            z-index: 10;
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);

            h3 {
                color: #282828;
            }

            p {
                margin-bottom: 10px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 98.1%;

            }

            td {
                &:nth-child(1) {
                    height: 320px;
                    width: 41.8%;
                    background-color: #fff;
                }

                &:nth-child(2) {
                    padding-right: 25px;
                    display: inline-block;
                    background-color: #fff;
                    height: 320px;
                    padding-left: 24px;
                }

                &:nth-child(2) p {
                    color: #000;
                }

                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        .card-btn-container {
            display: inline-block;
            width: 100%;
            text-align: center;

            .btn {
                color: #fff;
            }
        }
    }

    .hidden-desktop {
        &.article {
            table {
                tr {
                    td{
                        .btn {
                            margin-top: 0;
                            margin-left: auto;
                            margin-right:  auto;
                            display: block;
                        }
                    }
                    &:first-child {
                        td {
                            background-color: #fff;
                            img {
                                width: 100%;
                            }
                        }
                    }

                    &:nth-child(2) {
                        td {
                            height: 275px;
                            background-color: #fff;
                            padding: 20px !important;
                            padding-bottom: 48px;
                            display: inline-block;

                            h3 {
                                margin: 0 0 10px !important;
                                color: #282828;
                            }

                            p {
                                margin-top: 10px !important;
                                margin-bottom: 20px !important;
                            }

                            .btn {
                                margin-top: 10px;
                            }
                        }
    
                    }
                }
            }
        }
    }

    .hidden-mobile {
        table {
            margin-bottom: 30px;
        }
    }
}