.footer {
    .desc-table {
        margin-top: 40px;

        .desc {
            font-size: 12px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.4);

            a {
                color: #cdcdcd;
            }
        }
    }
}